ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body,
a,
ul,
h1,
h2,
h3,
h4,
h5,
button,
p{
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

// font styles

html {
    font-size: 62.5%; // setting base font to 10px
}

//  font -family
h1,
.logo,
button {

    font-family: $playfair, sans-serif;
    // font-style: italic; - no need to apply since base font is already italic

}

h2,
h3,
h4,
h5,
nav {
    font-family: $lato, sans-serif;
    font-weight: 700;
}

p {
    font-family: $lato, sans-serif;
    font-weight: 400;
}


form::placeholder {
    font-family: $lato, sans-serif;
    font-weight: 300;
}