header {
    background-image: url(../beach-final-images/home-image-1.jpg);
    min-height: 50vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;
    }

    a {
        padding: 20px;

        &:hover,
        &:focus {
            color: $green1;
        }
    }

    h3 {
        text-transform: lowercase;
        position: relative;
        left: 18px;
        
    }
}

// left background imag
.backgroundImg {
    min-width: 60vw;
    height: 40vh;
    background-image: url(../beach-final-images/header-box.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -90px;
    left: 0;
}

.titleDiv {
    z-index: 1;
    align-self: center;
    position: absolute;
    top: 50%;
}

// +++++++++++++++++++++++++++++++++++++++++ contact page ++++++++++++++++++++++++++++++++++++++++++++
.contactHeader {
    background-image: url(../beach-final-images/contact-image-1.jpg);
    position: relative;

    h2 {
        position: absolute;
        bottom: 150px;
    }
}

// +++++++++++++++++++++++++++++++++++++++++++++++++ blog page ++++++++++++++++++++++++++++++++++++++
.blogHeader {
    background-image: url(../beach-final-images/blog-image-1.jpg);
    position: relative;

    h2 {
        position: absolute;
        bottom: 150px;
    }
}