header {
    background-image: url(../beach-final-images/home-image-1.jpg);
    min-height: 60vh;
    min-width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 40vh;
        border: 1px solid red;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;
    }

    a {
        padding: 20px;

        &:hover,
        &:focus {
            color: $green1;
        }
    }

    h3 {
        text-transform: lowercase;
        position: relative;
        left: 18px;
        
    }
}

.backgroundImg {
    min-width: 60vw;
    min-height: 50vh;
    background-image: url(../beach-final-images/header-box.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -90px;
    left: 0;
}

.titleDiv {
    z-index: 1;
    align-self: center;
}