// +++++++++++++++++++++++++++++++++++++++++++++++++++ Home ++++++++++++++++++++++++++++++++++++++++++++++
//  ---------------------------------------visit section --------------------------------
.visit {
    background-color: $white1;

    .wrapper {
        margin-top: 200px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
    }

    article {
        flex-basis: 80%;

        p{
            margin: 10px 0;
            width: 80%;
        }
    }

    .imgContainer {
        flex-basis: 20%;

        img {
            max-width: 100%;
            box-shadow: -20px 20px $green1;
        }
    }
}

//  ----------------------------------------- gallery ---------------------------
.gallery {
    background-color: $green2;

    ul {
        display: flex;
        justify-content: space-between;
        
    }

    li {
        width: 32%;
        margin: 100px auto;
    }

    img {
        min-width: 100%;
    }
}

// ------------------------------------------- info--------------------

.info {
    background-color: $white1;
    margin: 100px 0;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .iconDiv{
        background-color: $green1;
        color: $white1;
        // 58px because the line height of the text is also 58px
        min-height: 58px;
        min-width: 58px;
        border-radius: 50%;

        // for the icon
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

    }

    .infoDiv {
        display: flex;
        width: 50%;
        // flex start so the icon will line up with the text
        align-items: flex-start;
        margin-top: 20px;
    }
}

// ------------------------------------------- plans ------------------------------------
.plans {
    background-color: $green2;

    article {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imgContainer {
        min-height: 419px; // height of pics
        background-image: url(../beach-final-images/left-image.jpg);
        background-size: cover;
        max-width: 40%;
        margin: 0;
        box-shadow: 20px 20px $green1;
        position: relative;
        top: -30px;
    }

    .rightImg {
        background-image: url(../beach-final-images/right-image.jpg);
        order: 1;
        background-size: cover;
        box-shadow: -20px 20px $green1;
        top: 60px; // 60 because the left img is top -30
    }

    .textContainer {
        width: 30%;
        margin: 0 auto;
    }

    .rightText {
        text-align: right;
    }

    h4 {
        color: $blue1;
    }
}
// -------------------------------------------rewards ------------------------------------
.rewards {

    .imgContainer {
        height: 40vh;
        background-image: url(../beach-final-images/banner-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .textContainer {
        margin: 200px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 70%;
            text-align: center;
        }
    }
}

// +++++++++++++++++++++++++++++++++ Contact page  +++++++++++++++++++++++++++++++++++++++++++++

.contactMain {

    .wrapper {
        display: flex;
    }
//  --------------------------------------------form ------------------------
    form{
        background-color: $white1;
        box-shadow: 45px 45px 0 -20px $green1;

        padding: 50px;
        margin-right: 100px;
        min-height: 50vh;
        position: relative;
        top: -100px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            width: 100%;
            margin: 0;
        }

        input {
            padding: 10px;
            border: none;
            border-bottom: 2px solid $green1;
        }
    }
    
    .name {
        width: 48%;
    }

    .email {
        width: 48%;
    }

    .message{
        width: 100%;
        min-height: 200px;
        resize: none;
        margin: 50px 0;
        border: 2px solid $green1;
        padding: 20px;
    }
//  ------------------------------------ contacts stuff ----------------------------------
    a{
        font-family: $lato, sans-serif;
        color: $black1;
        font-weight: bold;
        margin: 10px 20px 10px 0;
    }

    .address {
        margin-top: 10px;
        width: 80%;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

//  ++++++++++++++++++++++++++++++++++++++++++++++ blog  page ++++++++++++++++++++++++++++++++++++++++++

// ---------------------blog and mission ---------------------------
.blog {
    border-right: 5px solid $green1;
    border-bottom: 5px solid $green1;
    width: 60%;

    img {
        width: 99%;
        box-shadow: 40px 45px 0 -20px $green1;
        position: relative;
        top: -100px;
        left: -5px;
        z-index: 1;
    }

    p {
        margin: 20px 0;
    }
    .author {
        font-weight: bold;
    }

    .blogContainer {
        width: 80%;
    }

}

.contentContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mission {
    padding-top: 100px;
    width: 25%;

    .imgContainer {
        width: 100%;
        height: 300px;
        background-image: url(../beach-final-images/sidebar-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h5 {
        color: $blue1;
    }

    p{
        width: 90%;
    }

    .greenText {
        color: $green3;
        font-weight: bold;
    }

    ul {
        margin-left: 20px
    }

    li {

        p::before {
            content: "•";
            color: $green1;
            position: relative;
            left: -10px;
        }
    }

    .recentPosts {
        margin-top: 20px;
        padding-right: 50px;
    }
}

//  ----------------------------------- comment ------------------------------

.comments {
    h4 {
        color: $black1;
        margin-top: 50px;
    }
}

.comment {
    width: 60%;
    display: flex;
    margin: 50px 0;

    .date {
        color: $blue1;
        font-weight: bold;
    }

    .imgContainer {
        min-width: 89px;
    }

    .commentText {
        margin-left: 30px;
    }
}

.commentContainer {
    display: flex;
    flex-direction: column;
}