//  ---------------------------------------visit section --------------------------------
.visit {
    background-color: $white1;

    .wrapper {
        margin-top: 200px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
    }

    article {
        flex-basis: 70%;

        p{
            margin: 10px 0;
            width: 80%;
        }
    }

    .imgContainer {
        flex-basis: 20%;

        img {
            max-width: 100%;
            box-shadow: -15px 15px $green1;
        }
    }
}

//  ----------------------------------------- gallery ---------------------------
.gallery {
    background-color: $green2;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 100px 0;
    }

    li {
        width: 32%;
    }

    img {
        min-width: 100%;
    }
}

// ------------------------------------------- info--------------------

.info {
    background-color: $white1;
    margin: 100px 0;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .iconDiv{
        background-color: $green1;
        color: $white1;
        // 58px because the line height of the text is also 58px
        min-height: 58px;
        min-width: 58px;
        border-radius: 50%;

        // for the icon
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

    }

    .infoDiv {
        display: flex;
        width: 50%;
        // flex start so the icon will line up with the text
        align-items: flex-start;
    }
}

// ------------------------------------------- plans ------------------------------------

// -------------------------------------------rewards ------------------------------------
.rewards {

    .imgContainer {
        min-height: 50vh;
        background-image: url(../beach-final-images/banner-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .textContainer {
        margin: 200px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 70%;
            text-align: center;
        }
    }
}